asgiref
black
certifi
charset-normalizer
click
colorama
coverage
coveralls
Django
docopt
flake8
idna
mccabe
mypy-extensions
packaging
pathspec
pip
platformdirs
pycodestyle
pyflakes
requests
setuptools
sqlparse
typing_extensions
urllib3
wheel
PyYAML
